DJANGO_SETTINGS_MODULE=notification_service.settings.development
DJANGO_SECRET_KEY=notif-secret-key-change-in-production
DEBUG=True

# Database
DB_NAME=andbank_notifications
DB_USER=root
DB_PASSWORD=ANDBank@Root2024!
DB_HOST=mysql
DB_PORT=3306

# Redis / Celery
REDIS_URL=redis://redis:6379/0

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=youremail@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
EMAIL_USE_TLS=True

# Twilio (optional for now)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
