DJANGO_SETTINGS_MODULE=transaction_service.settings.development
DJANGO_SECRET_KEY=transaction_service-dev-secret-change-me
DEBUG=True
DB_NAME=andbank_transaction_service
DB_USER=root
DB_PASSWORD=ANDBank@Root2024!
DB_HOST=mysql
DB_PORT=3306
REDIS_URL=redis://redis:6379/0
